body {
    margin: 0;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #ffffff;
  }
  
  body * {
    box-sizing: border-box;
  }

  .main-container {
    max-width: 1171px;
    margin: 0 auto;
  }
  .color-text {
    color: #e3b873;
  }
  
  .navigation {
    list-style: none;
    display: flex;
  }
  
  .navigation a:hover {
    color: #e3b873;
  }
 
  .title {
    margin: 0;
    font-family: Yeseva One, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #fff;
  }
 
  .section-two {
    background: #131313;
  }
  
  .section-two-container {
    padding-top: 100px;
    padding-bottom: 400px;
  }
  
  .section-two-navigation {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 52px;
    padding-left: 0;
  }
  
  .section-two-navigation a {
    margin-right: 59.5px;
    text-decoration: none;
    color: #fff;
  }
  
  .section-two-content {
    display: flex;
    justify-content: space-between;
  }
  
  .section-two-content-info {
    display: flex;
    flex-direction: column;
  }
  
  .section-two-title {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    margin-bottom: 34px;
    color: #e3b873;
  }
  
  .section-two-subtitle {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 42px;
  }
  
  .decorate {
    padding-bottom: 7px;
    padding-left: 0 !important;
  }
  
  .decorate:hover {
    border-bottom: 1px solid #e3b873;
  }
  
  .section-two-description {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section-two-description-item {
    width: 50%;
    padding-bottom: 34px;
  }
  
  .section-two-description-item-title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 9px;
    color: #e3b873;
  }
  
  .arrows {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .arrow {
    display: flex;
    align-items: center;
  }
  
  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dot {
    padding-right: 17px;
  }

  .slider {
    width: 600px;
    background: url(projects.svg);
  }
  
  .slider-element-2,
  .slider-element-3 {
    display: none;
  }

  .slider-arrow-left,
  .slider-arrow-right {
    cursor: pointer;
    opacity: 0.3;
  }
  
  .slider-arrow-left:hover {
    opacity: 1;
  }
  
  .slider-arrow-right:hover {
    opacity: 1;
  }
  
  .dot {
    cursor: pointer;
    opacity: 0.3;
  }
  
  .dot-1 {
    opacity: 1;
  }
  
  .dot:hover {
    opacity: 1 !important;
  }
  
  .color-hypertext {
    border-bottom: 1px solid #e3b873;
    color: #e3b873 !important;
  }
  
  a {
    cursor: pointer;
  }